/*
* @Author: 贾思凡
* @Date:   2018-01-30 11:50:24
* @Last Modified by:   贾思凡
* @Last Modified time: 2018-02-02 11:15:24
*/
*{
	margin: 0;/*body-8px*/
	text-decoration: none;
	font-style: normal;
	padding: 0;
	list-style: none;



}